body {
  font-family: 'Courier New', monospace;
  text-align: center;
  background: linear-gradient(-45deg,  #f3e5f5, #e73c7e, #23a6d5, #00FFFF);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
#header{
  padding: 10;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}
img {
  max-width: 200px;
  max-height: 200px;
  vertical-align: text-top;
  box-align:right;
  text-align: right;
}
.cell {
  border: 1px solid black;
}
